<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="home" color="danger"></ion-back-button>
    </ion-buttons>
    <ion-title>second page</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Second page subtitle</ion-card-subtitle>
      <ion-card-title>Second page title</ion-card-title>
    </ion-card-header>
    <ion-card-content color="primary">
      Second page content
    </ion-card-content>
  </ion-card>
</ion-content>
